.loader{
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 999;

  &__image{
    width: 341px;
    height: 356px;
    animation: vibrate-3 1s linear infinite both;
  }
}

@media only screen and (max-width: 750px) {
  .loader{
    &__image{
      width: 180px;
      height: auto;
    }
  }
}
