.planets{
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  min-height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: 0;
  color: #FFFFFF;

  &__bcg{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../../assets/planets.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: brightness(.2) saturate(.5);
  }

  &__header{
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(#080a0c 70%, transparent);
  }

  &__container{
    position: inherit;
    z-index: 4;
    top: 0;
    width: 100%;
    text-align: start;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 50px;

    &--button{
      color: #FFFFFF;
      font-family: 'Neucha';
      background-color: transparent;
      font-size: 25px;
      font-weight: 600;
      text-align: left;
      margin: auto 10px;
      border: none;

      &:hover{
        cursor: pointer;
        transform: scale(1.1);
      }

      &:focus{}
      outline: none;
      border: none;
    }

    .singlePage{
      display: flex;
      color: #FFFFFF;
      font-family: 'Neucha';
      font-size: 20px;
      width: 20px;
      height: 20px;
      justify-content: center;
      align-items: center;
      margin: auto 5px;

      &:hover{
        cursor: pointer;
        transform: scale(1.1);
      }
    }

    .active{
      color: #E1AA1B;
      transform: scale(1.3);
    }
  }
}

.planet{
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  width: 90%;
  max-width: 1500px;
  height: auto;
  border-radius: 30px;
  margin-bottom: 50px;
  padding: 20px;
  padding-bottom: 40px;

  &:last-child{
    margin-bottom: 80px;
  }

  &__name{
    font-family: 'Titillium Web';
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
    padding: 0 30px;
    margin: 0;
  }

  &__info{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;

    &--column{
      display: flex;
      flex-direction: row;
      width: 50%;
      margin: 10px 40px;

      .key{
        font-family: 'Neucha';
        font-weight: normal;
        font-size: 20px;
        width: 30%;
        color: #FFFFFF;
        text-align: start;
        padding-top: 1px;
        margin: 0;
      }

      .value{
        font-family: 'Titillium Web';
        font-weight: 700;
        font-size: 20px;
        width: 70%;
        text-transform: capitalize;
        line-height: 26px;
        color: #FFFFFF;
        text-align: start;
        margin: 0;
      }
    }
  }
}

@keyframes vibrate-3 {
  0% {transform: translate(0) rotate(3deg);}
  10% {transform: translate(-2px, -2px);}
  20% {transform: translate(2px, -2px) rotate(-4deg);}
  30% {transform: translate(-2px, 2px) rotate(0deg);}
  40% {transform: translate(2px, 2px);}
  50% {transform: translate(-2px, -2px) rotate(0deg);}
  60% {transform: translate(2px, -2px);}
  70% {transform: translate(-2px, 2px);}
  80% {transform: translate(-2px, -2px) rotate(5deg);}
  90% {transform: translate(2px, -2px);}
  100% {transform: translate(0) rotate(0deg);}
}

@media only screen and (max-width: 1100px){
  .planets{
    &__page{
      max-width: 90vw;
    }
  }

  .planet{
    width: 80%;

    &__name{
      padding: 10px 0;
    }

    &__info{
      flex-direction: column;
      margin-top: 0;
      height: auto;

      &--column{
        flex-direction: column;
        width: 100%;
        margin: 5px 20px;

        .key, .value{
          margin: auto 0;
          width: 100%;
        }
      }
    }
  }
}
