.home{
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;

  &__bcg{
    position: fixed;
    z-index: -1;
    background-image: url("../../assets/test.png");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 0 0;
    background-repeat: repeat-y;
    animation: animate 50s linear infinite;
  }

  &__clones{
    background-image: url("../../assets/clons.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    z-index: -1;
    width: 50vw;
    height: 90vh;
    right: 50px;
    bottom: -30px;
  }

  .container{
    width: 40vw;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 30vh;

    &__title{
      color: #FFFFFF;
      text-transform: uppercase;
      letter-spacing: 10px;
      font-family: 'Neucha';
      font-weight: 300;
      font-size: 34px;
      margin: 0;
    }

    &__star{
      color: #FFFFFF;
      text-transform: uppercase;
      letter-spacing: 14px;
      font-family: 'Righteous';
      font-size: 95px;
      margin: 0;
    }

    &__description{
      color: #FFFFFF;
      font-family: 'Neucha';
      font-weight: 300;
      font-size: 30px;
    }

    &__explore{
      display: flex;
      flex-direction: row;
      margin-top: 50px;
      align-items: center;
      text-decoration: none;

      &--title{
        font-family: 'Neucha';
        font-size: 30px;
        font-weight: 300;
        color: #E1AA1B;
        margin-right: 20px;
      };

      &--button{
        width: 70px;
        height: 70px;
        border-radius: 50px;
        background-color: #E1AA1B;
        outline: none;
        border: none;
        cursor: pointer;

        &:hover{
          .arrow {
            animation: arrow-right 1s infinite ease;
          }
        }

        .arrow{
          width: 30px;
          height: auto;
        }
      }
    }
  }
}

@keyframes arrow-right {
  0% {transform: translate(0px, 0px);}
  50% {transform: translate(10px, 0px);}
  75% {transform: translate(-5px, 0px);}
  100% {transform: translate(0px, 0px);}
}

@keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100%;
  }
}

@media only screen and (max-width: 1650px){
  .home{
    .container{
      &__title{
        font-size: 25px;
      }

      &__star{
        font-size: 70px;
        line-height: 70px;
      }

      &__description{
        font-size: 20px;
      }

      &__explore{
        margin-top: 0;

        &--title{
          font-size: 22px;
        }

        &--button{
          width: 40px;
          height: 40px;

          .arrow{
            width: 20px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 760px){
  .home{
    overflow-y: auto;

    &__clones{
      top: 600px;
      width: 85vw;
      height: 60vw;
      background-position-x: center;
      opacity: .7;
    }

    .container{
      width: 70vw;
      margin-left: 15vw;
      text-align: center;
      
      &__description{
        padding-top: 20px;
        border-top: 1px solid #ffffff;
      }
    }
  }
}

@media only screen and (max-width: 500px){
  .home{
    &__clones{
      opacity: .3;
    }
  }
}